<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Card App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <h1>Daily Tarot Card</h1>
   
    <h2>
        <%= card.name %>
    </h2>

    <h3> <%= card.Arcana %> </h3>

    <p> <%= card.Keywords %> </p>

    <p> <%= card.Reading %> </p>

    <img src="<%= card.image %>">

   <form action="/random" method="GET">
       <button id="update-button" type="submit">Daily Reading</button>
   </form>

<script src="/main.js"></script>
</body>

</html>
